.ContainerFood1{
    /* border: 2px solid red; */
    position: absolute;
    top: 180px;
    left: 30px;
    width: 600px;
    height: 800px;
}

.headFood1{
    position: relative;
    top: 0px;
    left: 5px;
    width: 70px;
    border: 2px solid red;
}
.headFood2{
    position: relative;
    top: 0px;
    left: 5px;
    width: 70px;
    border: 2px solid red;
}

.ContainerFood2{
    position: absolute;
    left: 780px;
    top:180px;
    width: 350px;
    height: 500px;
    /* border: 2px solid red; */
}